
/* MAIN MENU */

.mainmenu_bg{
	-fx-background-image: url("../assets/sprites/backgrounds/1.png");
	-fx-background-size: 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: bottom center;
	-fx-background-color: red;
}

.mainmenu_maintitle{
	-fx-translate-y: -50;
}

.mainmenu_button_newgame{
	-fx-background-image: url("../assets/sprites/buttons/button.png");
	-fx-background-size: 100%;
	-fx-translate-y: -20;
}

.mainmenu_button_loadgame{
	-fx-background-image: url("../assets/sprites/buttons/button.png");
	-fx-background-size: 100%;
	-fx-translate-y: -10;
}

.mainmenu_button_language{
	-fx-background-image: url("../assets/sprites/buttons/button.png");
	-fx-background-size: 100%;
	-fx-translate-y: 90;
	-fx-translate-x: 180
}

.square-normal { -fx-background-color: #e0e0e0; }
.square-ice-hole { -fx-background-color: #a0d8ef; }
.square-sled { -fx-background-color: #8b4513; }
.square-bear { -fx-background-color: #cd853f; }
.square-event { -fx-background-color: #ffd700; }
.square-start { -fx-background-color: #991111; }
.square-end { -fx-background-color: #333333; }

.square-bottom-left {
    -fx-border-color: #ff0000;
    -fx-border-width: 3px;
}
.square-bottom-right {
    -fx-border-color: #ff0000;
    -fx-border-width: 3px;
}
.square-top-left {
    -fx-border-color: #00ff00;
    -fx-border-width: 3px;
}
.square-top-right {
    -fx-border-color: #00ff00;
    -fx-border-width: 3px;
}

.square {
    /*-fx-border-width: 0px;*/
}